<div class="jumbotron text-center">
  <h2>Add a new Proposal</h2>
  <p>Fill out the form below to add a new proposal</p>
  <br/>

  <div class="form-horizontal form-group form-group-lg row">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
        <label for="title">A terse and specific summary of the activity in one line (subject line)</label>
        {{input type="text" id="title" value=title class="form-control" placeholder="Please enter a title" autofocus="autofocus"}}
        <br/>
        <label from="value">Requested amount in € (estimated maximum) (max. {{maxBudget}}€ for micro grants)</label>
        {{input type="text" value=value id="value" class="form-control" placeholder=(concat "Requested amount in € (estimated maximum)")}}
        <br/>
        <label for="description">Summary and overall goals of the activities</label>
        {{textarea value=description id="description" class="form-control" placeholder="Please enter a description" rows="5" autoresize="true"}}
        <br/>
        <label for="activities">List the specific activities and actions you will perform</label>
        {{textarea value=activities id="activities" class="form-control" placeholder="Please enter your activities/actions" rows="5" autoresize="true"}}
        <br/>
        <label for="recipient">Receipient name (individual or organization)</label>
        {{input type="text" value=recipient id="recipient" class="form-control" placeholder="Recipient name (individual or organization)"}}
        <br/>
        <label for="recipient2">For grants from 2000€: Second recipient/collaborator in another EU country</label>
        {{input type="text" value=recipient2 id="recipient2" class="form-control" placeholder="For small grants: Collaborator in second EU country"}}
        <br/>
        <label for="contact">Contact email address for this proposal (grantee) -- only visible for RFF staff</label>
        {{input type="text" value=contact id="contact" class="form-control" placeholder="Recipient contact information"}}
        <br/>
		<label from="startdate">When do you want the voting on this proposal to begin? (micro: daily, runtime 14 days; small: every 2 months for 2 weeks)</label>
        {{#if isMicroBudget}}
        {{bootstrap-datepicker id="daypicker" value=startdate startDate=minimumProposalStartDate format="yyyy/mm/dd" autoclose=true class="form-control" placeholder="Start date of the proposal vote"}}
        {{else}}
        {{bootstrap-datepicker id="monthpicker" value=startdate startDate=minimumProposalStartDate format="yyyy/mm" minViewMode=1 autoclose=true class="form-control" placeholder="Which month to run this proposal in"}}
        {{/if}}
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-7 col-sm-4 col-md-3 col-md-offset-8">
        <button disabled={{isDisabled}} {{action 'createProposal'}} class="btn btn-primary btn-lg btn-block">Add proposal</button>
      </div>
    </div>
  </div>

  {{#if progressMessage}}
    <div class="alert alert-info">{{progressMessage}}</div>
  {{/if}}
  {{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
  {{/if}}
  {{#if errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
  {{/if}}

</div>
